RPC_URL=https://api.mainnet-beta.solana.com
KEYPAIR_PATH=~/.config/solana/id.json
ORACLE_PROGRAM_ID=7LKj9Yk62ddRjtTHvvV6fmquD9h7XbcvKKa7yGtocdsT
BASE_MINT=So11111111111111111111111111111111111111112
QUOTE_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
RAYDIUM_AMM_ID=
UPDATE_INTERVAL_MS=30000
